@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("../js/normalize.css");
*, body, html {
  font-family: "Cinzel", "Noto Serif JP", "Cormorant Garamond", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

a {
  text-decoration: unset;
  display: block;
}

a:hover {
  cursor: pointer;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: unset;
  color: inherit;
}

:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=checkbox] {
  margin: 10px;
  height: 20px;
  width: 20px;
}

input:disabled {
  opacity: 1 !important;
  color: #000 !important;
}

input[type=checkbox]:checked {
  position: relative;
}

input[type=checkbox]:checked:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '✓';
  width: 100%;
  height: 100%;
  border-radius: 2px;
  text-align: center;
  font-size: 20px;
  color: #916000;
}

select {
  background-color: #fff !important;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px);
}

.container {
  position: relative;
  overflow-y: hidden !important;
}

.navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlink a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 25px;
  position: relative;
  color: #8c8c8c;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 60px;
}

.navlink a::before {
  content: "";
  width: 1px;
  height: 26px;
  background-color: black;
  position: absolute;
  top: 0;
  transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
}

.navlink li a:hover::before {
  height: 0;
}

.navlink img {
  width: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navlink li:nth-child(2) img {
  width: 26px;
}

.navlink .menu {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.menu.active span:nth-child(1), .menu:hover span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu.active span:nth-child(3), .menu:hover span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu.active span:nth-child(1), .menu.active span:nth-child(3),
.menu:hover span:nth-child(1), .menu:hover span:nth-child(3) {
  width: 100%;
  position: absolute;
  left: 1px;
}

.menu.active span:nth-child(2), .menu:hover span:nth-child(2) {
  opacity: 0;
}

.menu span {
  width: 100%;
  margin: 4px 0;
  height: 1px;
  background-color: #8c8c8c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal_box {
  position: relative;
  width: 60vw;
  padding: 80px;
  background-color: rgba(252, 249, 249, 0.95);
}

@media screen and (max-width: 992px) {
  .modal_box {
    width: 90vw;
    padding: 45px;
  }
}

#more_form {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#more_form * {
  border: none;
  background-color: #dedada;
}

#more_form #id {
  height: 100%;
  width: 90%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.shopart_amount {
  position: absolute;
  top: 8px;
  right: 0px;
  letter-spacing: unset;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #f8aaaa;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
}

.texthide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.logo a {
  background: center/contain no-repeat url("../images/logo.svg");
  width: 130px;
  height: 50px;
}

.navbar img {
  width: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.ds-f {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.ds-n {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.overlay-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 100px;
}

.overlay-content ul li {
  margin: 15px 0;
  width: 33.333%;
  padding-left: 2%;
  margin-bottom: 15px;
}

.overlay-content ul li a {
  font-size: 1rem;
  display: block;
  padding: 15px 15px 12px;
  cursor: pointer;
  position: relative;
  color: var(--color-p);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* transition: cubic-bezier(0.39, 0.575, 0.565, 1); */
}

.overlay-content ul > li > a small {
  font-size: 1rem;
  margin-top: 6px;
  display: block;
}

.overlay-content li > a:hover {
  background: #fff;
}

.overlay-content li > a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .overlay-content ul li {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .overlay-content {
    overflow-y: scroll;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .overlay-content ul li {
    width: 100%;
  }
}

.modal_bg {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(170, 170, 170, 0.95);
}

.modal_bg.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_close {
  border: none;
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 9;
  text-transform: none;
  cursor: pointer;
}

.modal_box {
  position: relative;
  width: 60vw;
  padding: 80px;
  /* height: 20vw; */
  background-color: rgba(252, 249, 249, 0.95);
}

.cart-run {
  -webkit-animation: cart-runar cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
          animation: cart-runar cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

@-webkit-keyframes cart-runar {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    opacity: 0.4;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  15% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes cart-runar {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    opacity: 0.4;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  15% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.modal_close {
  background: transparent;
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9;
}

.modal_close span {
  background-color: #fff;
  position: absolute;
  right: 0;
  height: 1px;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal_close span:nth-child(1) {
  top: 1px;
  -webkit-transform: translateY(23px) rotate(-45deg);
          transform: translateY(23px) rotate(-45deg);
}

.modal_close span:nth-child(2) {
  bottom: 2px;
  -webkit-transform: translateY(-23px) rotate(45deg);
          transform: translateY(-23px) rotate(45deg);
}

.modal_close:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #f1eded;
  z-index: 999;
}

/* header - search */
.overlay_search {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay_search.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-test {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: #f1eded;
  /* background: linear-gradient(-135deg,#c850c0,#4158d8); */
  /* overflow-y: scroll; */
  /* overflow: auto; */
  display: none;
}

.overlay-test.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-test > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 100px;
}

.overlay-test ul li {
  margin: 15px 0;
  width: 33.333%;
  padding-left: 2%;
  margin-bottom: 15px;
}

.overlay-test ul li a {
  font-size: 1rem;
  display: block;
  padding: 15px 15px 12px;
  cursor: pointer;
  position: relative;
  color: var(--color-p);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overlay-test ul > li > a small {
  font-size: 1rem;
  margin-top: 6px;
  display: block;
}

.overlay-test li > a:hover {
  background: #fff;
}

.overlay-test li > a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .overlay-content ul li {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .overlay-content {
    overflow-y: scroll;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .overlay-content ul li {
    width: 100%;
  }
}

.test_logo {
  background: pink;
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 9;
}

.main-tool-bar {
  height: 80px;
  background: red;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999999;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.main-tool-bar--scrolled {
  height: 40px;
}

.intro_section {
  width: 100vw;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #031254;
  mix-blend-mode: difference;
  isolation: isolate;
  z-index: 9999;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle:hover {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

.main_ds {
  position: absolute;
  top: 20%;
  left: 10%;
}

.wrap_word {
  color: transparent;
  font-family: "Bodoni Moda";
  font-weight: 400;
  font-size: 100px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 2px #fff;
  overflow: hidden;
  line-height: 120px;
}

.wrap_word .copy-wrap {
  font-family: "Bodoni Moda";
  display: block;
  -webkit-transition: all 0.7s 0s ease-in-out;
  transition: all 0.7s 0s ease-in-out;
  position: relative;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.spotlight-text {
  font-family: 'Nova Mono', monospace;
  text-transform: uppercase;
  background: #a28b73;
  font-size: 38px;
  -webkit-background-clip: text;
  width: 100%;
  height: 100%;
  font-weight: 900;
  -webkit-text-stroke: 1px #a28b73;
  margin-left: 50px;
}

.spotlight-container {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 10;
  height: 90px;
  position: relative;
}

@font-face {
  font-family: "Bogart-Semibold";
  src: url("../../bogart-semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.textpanel {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textpanel h2 {
  font-size: 80px;
  position: relative;
  color: transparent;
}

@media (max-width: 767px) {
  .textpanel h2 {
    font-size: 60px;
  }
}

.textpanel h2 span.word {
  font-family: "Bodoni Moda";
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: transparent;
  padding: 20px 0;
  margin: -20px 0;
}

.textpanel h2 span.word:before {
  content: attr(data-word);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #cbbcbc), color-stop(50%, transparent));
  background-image: linear-gradient(to bottom, #cbbcbc 50%, transparent 50%);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 50% calc(100px - (var(--progress) * 100px));
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
  -webkit-text-stroke: 1px #cbbcbc;
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  background: var(--text-color);
  color: var(--bg-color);
}

@media (max-width: 767px) {
  #sectionPin {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pin-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10vw;
}

@media (max-width: 767px) {
  .pin-wrap {
    height: auto;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pin-wrap .flex_alink3 {
  width: 60vw;
  margin: 0 100px;
  background: #cbbcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pin-wrap .flex_alink3:first-child {
  background-color: transparent;
  width: 60vw;
}

.pin-wrap .flex_alink3:first-child p {
  color: darkgray;
}

@media (max-width: 767px) {
  .pin-wrap .flex_alink3 {
    margin: 10px 0;
    width: 80vw;
  }
}

.pin-wrap .flex_alink3 p {
  font-size: 20px;
  color: #eb6d6d;
  margin-top: 60px;
  line-height: 1.6;
}

.pin-wrap .flex_alink3 .flex_list_card {
  position: relative;
  height: 50vh;
  margin: 50px;
}

@media (max-width: 767px) {
  .pin-wrap .flex_alink3 .flex_list_card {
    margin: 0;
  }
}

.pin-wrap .flex_alink3 .flex_list_card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-filter: grayscale(100%) sepia(20%) brightness(80%);
          filter: grayscale(100%) sepia(20%) brightness(80%);
}

.pin-wrap .flex_alink3 .flex_list_card > img.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

.pin-wrap .flex_alink3 .flex_list_card .unsplash_info {
  position: absolute;
  top: 10%;
  left: 0;
  color: #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.pin-wrap .flex_alink3 .flex_list_card .unsplash_info a {
  display: inline-block;
  font-family: cursive;
  color: #ae7e7e;
}

.pin-wrap .flex_alink3 .flex_list_card:hover .unsplash_info {
  opacity: 1;
}

.pin-wrap .flex_alink3 .flex_list_descript {
  width: 60vw;
  color: #edb9b694;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 20px 10px;
}

.pin-wrap .flex_alink3 .flex_list_descript > h2 {
  line-height: 60px;
  color: transparent;
  font-family: Bodoni Moda;
  font-weight: 400;
  font-size: 80px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 2px #edb9b694;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 767px) {
  .pin-wrap .flex_alink3 .flex_list_descript > h2 {
    color: #ffffff1c;
    -webkit-text-stroke: 2px #fff;
  }
}

.pin-wrap .flex_alink3 .flex_list_descript > h2.active {
  -webkit-text-stroke: 2px #ffff;
  color: #fbededd4;
}

section:not(#sectionpin) {
  width: 100%;
}

.mircle {
  border: 10vw solid white;
  background-color: #93484808;
  width: 150vw;
  height: 150vw;
  border-radius: 50%;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursorFront {
  width: 28px;
  height: 28px;
  position: fixed;
  top: -8px;
  left: -8px;
  background-color: #ffd7c5;
  pointer-events: none;
  mix-blend-mode: hard-light;
  isolation: isolate;
  z-index: 9999;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.cursorBack {
  z-index: 9999;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #facdd4;
  pointer-events: none;
  mix-blend-mode: screen;
  isolation: isolate;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.cursorFront.hov {
  width: 150px;
  height: 150px;
  background-color: pink;
}

.block_magic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.newimgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (200px)[3];
      grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  font-family: "Lato";
  text-align: center;
  padding: 2rem 8rem;
}

@media (max-width: 992px) {
  .newimgs {
    padding: 1rem;
  }
}

@media (max-width: 767px) {
  .newimgs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (150px)[6];
        grid-template-rows: repeat(6, 150px);
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .get_more {
    width: 50vw;
  }
}

figure.grid_list {
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

figure.grid_list:nth-child(1) {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

figure.grid_list a {
  width: 100%;
  height: 100%;
}

figure.grid_list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

figure.grid_list:hover img {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

figure.grid_list figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

figure.grid_list figcaption h2, figure.grid_list figcaption p {
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.grid_list:hover figcaption, figure.grid_list:active figcaption {
  height: 80%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #3c3b3b30;
  cursor: pointer;
}

figure.grid_list:hover figcaption p, figure.grid_list:active figcaption p {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  font-size: 1.2rem;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

/* page2 section  --  newarrivals */
.intro_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_header span {
  background-color: black;
  left: 50%;
  height: 130px;
  /* height: calc(100% + 18px); */
  width: 1px;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.intro_header h2.title1,
.title-wrap h2.title1 {
  position: relative;
  margin: 30px;
}

.get_more {
  position: relative;
  width: 30vw;
  margin: 20px auto;
  color: #fff;
  text-align: center;
  padding: 20px 40px;
  display: block;
  font-size: 1.5rem;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.get_more::after {
  content: "read more";
  padding: 20px 40px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, from(#f5c1dc), to(#ef017c));
  background: linear-gradient(to left, #f5c1dc 0%, #ef017c 100%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.get_more:hover {
  background: -webkit-gradient(linear, left top, right top, from(#f5c1dc), to(#ef017c));
  background: linear-gradient(to right, #f5c1dc 0%, #ef017c 100%);
}

.get_more:hover::after {
  opacity: 0;
  /* background:linear-gradient(to left, #dfcccf 0%, #ff7eb3 50%, #f5c9d0 100%); */
}

.info {
  position: absolute;
  top: 100px;
  padding: 25px;
  background-color: black;
  display: block;
  color: white;
}

/* section-stores */
.flex-layout {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2vw 5vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 1200px) {
  .flex-layout {
    height: auto;
  }
}

.flex-layout > .flex_item {
  height: 50vh;
  min-width: 50vw;
  -webkit-box-shadow: 0px 6px 24px #635d5d33;
          box-shadow: 0px 6px 24px #635d5d33;
  -webkit-transition: width cubic-bezier(0.2, 0.54, 0.4, 0.82) 800ms;
  transition: width cubic-bezier(0.2, 0.54, 0.4, 0.82) 800ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .flex-layout > .flex_item {
    height: 70vh;
    min-width: 100vw;
  }
}

.explore-button {
  font-size: 1rem;
  text-align: center;
  background: #cbbcbc;
  color: #ffffff;
  border-radius: 20px 4px;
  margin: 3rem auto;
  padding: 1rem;
  width: 50%;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 15px 20px -10px #888888;
          box-shadow: 0 15px 20px -10px #888888;
  -webkit-transition: color 0.6s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: color 0.6s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

.explore-button:hover {
  -webkit-box-shadow: 0 3px 5px -5px #868104;
          box-shadow: 0 3px 5px -5px #868104;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  color: #ffffff;
}

.btn_type {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  background-color: #eeb6b6;
  color: #fff;
  margin: 20px auto;
  width: 30vw;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 5px -5px #fff;
          box-shadow: 0 3px 5px -5px #fff;
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

.btn_type:hover {
  -webkit-box-shadow: 0 15px 20px -10px #fff;
          box-shadow: 0 15px 20px -10px #fff;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #fff;
}

.btn-100 {
  width: 100%;
}

#btn_Clearall {
  margin: 0;
  color: #9a9797;
  background: #fff;
  text-align: center;
  font-size: 1rem;
  display: block;
  padding: 10px;
  cursor: pointer;
}

#car_total {
  color: #f06079;
  font-weight: bold;
  font-size: 1.2rem;
}

#btn_checkout {
  margin-right: 0;
  width: 30vw;
}

.btn_remove {
  background-color: #f8aaaa;
  padding: 10px;
  color: #fff;
  font-size: 0.7rem;
}

.typebutton {
  display: inline-block;
  border-radius: 19px;
  padding: 10px;
  background-color: #ea9999;
  color: white;
  cursor: pointer;
  font-size: .9rem;
}

.typebutton:hover, .typebutton.active {
  background-color: #d3b5b5;
}

.myclass {
  border: 1px solid #B9B9B9;
  color: #797979;
  min-height: 38px;
  min-width: 255px;
  border-radius: 5px;
  text-indent: 10px;
  margin-bottom: 30px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  color: grey;
}

.breadcrumb a:hover {
  color: #fff;
}

.breadcrumb a:not(:first-child)::before {
  content: '/';
  padding: 0 5px;
}

footer {
  background-color: #9d8e8e;
  font-size: 16px;
}

footer h2 {
  font-size: 20px;
}

footer small {
  color: #fff;
  margin-top: 10px;
}

footer, footer a, footer p {
  color: #fff;
  letter-spacing: 0.1rem;
  word-break: break-all;
  line-height: 1.6;
}

footer .footer_item {
  padding: 0 10px;
  width: 33.3333%;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  footer .footer_item {
    width: 100%;
  }
}

footer > .footer_item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > .footer_item:nth-child(3) h2 {
  margin-left: -102px;
}

@media (max-width: 767px) {
  footer > .footer_item:nth-child(3) {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  footer > .footer_item:nth-child(3) h2 {
    margin-left: 0px;
  }
}

footer .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-top: 10px;
}

footer .menu-link a {
  border: 1px solid #fff;
  padding: 10px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.ct-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ct-connect li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 10px;
}

.ct-connect li a i {
  font-size: 20px;
}

/* Part1 section 1- bgimgx */
.wrapper {
  height: 100vh;
  min-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  -webkit-box-shadow: 0px 6px 24px rgba(166, 161, 161, 0.6);
          box-shadow: 0px 6px 24px rgba(166, 161, 161, 0.6);
  overflow: hidden;
  position: relative;
  background-color: #dfcece;
}

.wrapper .logo_bg {
  width: 100%;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  z-index: -1;
  -webkit-clip-path: circle(10% at 50% 50%);
          clip-path: circle(10% at 50% 50%);
}

.wrapper .logo_bg > img {
  height: 100%;
  width: 100%;
  -webkit-filter: contrast(0.8) opacity(0.9);
          filter: contrast(0.8) opacity(0.9);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

@media (max-width: 992px) {
  .wrapper .logo_bg > img {
    width: unset;
  }
}

.sign_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  /* svg signature*/
  /* letters paths clip animation */
}

.sign_block .sign_svg {
  margin: auto;
  height: 100%;
  width: 500px;
  padding-top: 80px;
  -webkit-filter: drop-shadow(6px 6px #ffffffd0);
          filter: drop-shadow(6px 6px #ffffffd0);
}

@media (max-width: 767px) {
  .sign_block .sign_svg {
    position: unset;
    width: 80vw;
  }
}

.sign_block .rehome {
  stroke-dasharray: 1280;
  stroke-dashoffset: 1280;
  fill: none;
  stroke: #fecece;
  stroke-miterlimit: 10;
  stroke-width: 12pt;
}

.svg_bg {
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .svg_bg {
    width: unset;
  }
}

.svg_bg path {
  stroke-dasharray: 13000;
  stroke-dashoffset: 13000;
  fill: none;
  stroke-width: 5pt;
  stroke: #fff;
}

#replay {
  position: absolute;
  bottom: 7%;
  left: 14%;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
  z-index: 1;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

#replay:hover {
  color: #f2c9c9;
}

/* format index designer  */
.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 3rem;
  background: #eab4b440;
}

.col-2-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.col-2-img img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-2-img figcaption {
  margin: 0 20px;
  height: 100%;
}

.col-2-img p {
  color: grey;
  margin: 20px 0;
  line-height: 1.6;
}

@media screen and (max-width: 420px) {
  .col-2 {
    padding: 2rem 0;
  }
  .col-2-img figcaption {
    margin: 0 0 10px 20px;
  }
}

.top_page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 60px 0 0;
  padding: 0 2rem;
}

@media (max-width: 767px) {
  .top_page {
    width: 100%;
  }
}

.main_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eadbdbf2;
}

.second_mains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.login_style {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 0;
  height: 100%;
  width: 100%;
  background: center/cover no-repeat url(../images/cloversky/top2.jpg);
}

.login_style::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa9b3eb;
  opacity: 0.8;
}

.tab-label {
  width: 33.3%;
  padding: 0.5em 1.2em;
  color: white;
  background-color: #f6c5c5;
  font-size: 1rem;
}

.tab-label:nth-child(1) {
  border-radius: 10px 0 0 0;
}

.tab-label.active {
  background-color: #e89f9f;
  border: 1px solid #fff;
}

.tab-label:hover {
  background-color: #e89f9f;
}

.tabs-container {
  z-index: 2;
  margin-top: 20px;
  width: 600px;
  height: 400px;
}

.tabs-pages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* flex-direction: row; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
}

.tabs-contents {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.tab-inner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: auto;
  color: black;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background: #ffffff52;
  z-index: 0;
}

.tab-inner.active {
  opacity: 1;
  z-index: 9;
}

.inner-content {
  position: relative;
  padding: 2em;
}

#form_login input, #form_register input {
  width: 100%;
  font-size: 18px;
  padding: 12px;
  text-indent: 45px;
  border: none;
  outline: none;
  background: #ffffffbd;
  border-radius: 25px;
}

.login_style i {
  position: absolute;
  top: calc(50% - 0.5em);
  font-size: 20px;
  margin: 0 5px;
  color: #888;
  left: 10px;
}

.userdata {
  position: relative;
  display: block;
  margin: 15px 0;
}

.userdata::before {
  height: 80%;
  content: "";
  width: 1px;
  border-right: 1px solid white;
  position: absolute;
  left: 45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.process3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

.process3::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: pink;
}

.process3 li {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;
  border-radius: 100%;
  background-color: #d08080;
  color: #fff;
  opacity: 0.3;
}

.process3 li::after {
  width: 4rem;
  position: absolute;
  top: 4rem;
  left: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: black;
}

.process3 li:nth-child(1)::after {
  content: "配送資訊";
}

.process3 li:nth-child(2)::after {
  content: "確認資訊";
}

.process3 li:nth-child(3)::after {
  content: "完成訂單";
}

#form_checkout1 input {
  width: 100%;
  font-size: 18px;
  height: 54px;
  padding: 12px;
  text-indent: 45px;
  background: #ddd;
}

.step1_member {
  position: absolute;
  top: calc(50% - 0.5em);
  font-size: 20px;
  margin: 0 5px;
  color: #888;
  left: 10px;
}

.recip_city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.fa-user:before {
  content: "\f007";
}

.col2_item button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #eeb6b6;
  color: #fff;
}

#btn_Show[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}

.items {
  display: none;
}

.product_allitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search_div {
  margin: 1.5vh 6px 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 12px);
          flex: 0 1 calc(25% - 12px);
}

@media (max-width: 992px) {
  .search_div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 12px);
            flex: 0 1 calc(50% - 12px);
  }
}

@media (max-width: 480px) {
  .search_div {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.search_items {
  cursor: pointer;
  height: 150px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.search_items img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search_items img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.list_item_name, .list_item_price {
  font-size: 1rem;
  text-align: center;
  padding-top: 12px;
}

.light-theme a, .light-theme span {
  display: inline-block;
  width: 35px;
  height: 26px;
  padding: 2px 7px 0 !important;
  background: #fff !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid lightcoral !important;
}

.light-theme .current {
  background: #ea9999 !important;
  border: none !important;
}

.pagination-holder {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prod_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin: 60px auto 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 992px) {
  .prod_detail {
    width: 100%;
  }
}

.div_left {
  margin: 15px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
}

@media (max-width: 992px) {
  .div_left {
    width: 100%;
    height: 400px;
    margin: 0;
  }
}

.div_mobile_swiper {
  width: 100%;
}

@media (max-width: 767px) {
  .div_mobile_swiper {
    width: 100%;
    height: 100%;
  }
}

.div_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 10px 30px;
}

@media (max-width: 992px) {
  .div_right {
    margin: 10px 20px;
  }
}

.prod_detail_pc {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .prod_detail_pc {
    display: none;
  }
}

.swiper-container {
  display: none;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .swiper-container {
    display: block;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .slide-inner {
    width: 100%;
    height: 100%;
  }
}

figure.list_img1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50vh;
          flex: 1 1 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

figure.list_img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  display: block;
}

figure.list_img1 img.active {
  -webkit-animation: 3.1s cubic-bezier(0.6, 0.05, 0.01, 0.99) 0s 1 normal forwards mqn-picker-image-intro;
          animation: 3.1s cubic-bezier(0.6, 0.05, 0.01, 0.99) 0s 1 normal forwards mqn-picker-image-intro;
}

figure.list_img1 > img:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: contrast(0.5) opacity(0.8);
          filter: contrast(0.5) opacity(0.8);
}

.mini_pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: radial-gradient(#fff 8%, #d0bfbf66 0);
  background-size: 24px 24px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.protail_img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.protail_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* filter: opacity(0.65)grayscale(1); */
  -webkit-filter: contrast(0.5) opacity(0.8);
          filter: contrast(0.5) opacity(0.8);
}

.protail_img.active img {
  -webkit-filter: unset;
          filter: unset;
}

.product_title {
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  color: white;
  letter-spacing: 1px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: 10px 0; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-text {
  text-align: center;
  line-height: 50px;
  color: #db8191;
  font-size: 1.8rem;
}

.card_price {
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #5f3f45;
}

.price_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_col {
  width: 130px;
  height: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #d6b8b8;
  position: relative;
  background: #fff;
}

.add_minus_btn {
  border: none;
  cursor: pointer;
  background: #fff;
  height: 100%;
  position: absolute;
  width: 40px;
  font-size: 1.6rem;
  color: #bb7777;
}

.add_minus_btn.minus_cal {
  left: 0;
  border-right: 1px solid #d6b8b8;
}

.add_minus_btn.add_cal {
  right: 0;
  border-left: 1px solid #d6b8b8;
}

button.add_minus_btn.add_cal:active,
button.add_minus_btn.add_cal:focus,
button.add_minus_btn.add_cal:hover {
  background: #fae5e8;
}

input.carlist_amount {
  color: red;
  font-size: large;
  height: 100%;
  background-color: #bcaeae;
  border: none;
  text-align: center;
  font-weight: 900;
  width: 50px;
  border-top: 1px solid #dadae4;
  border-bottom: 1px solid #dadae4;
}

input.carlist_amount:disabled {
  cursor: not-allowed;
  border: none;
  background-image: none;
  background-color: #fff;
  background: #fff !important;
  color: #4d1d1d;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

#menu p {
  padding: 6px;
  font-size: 16px;
  color: #707070;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#menu p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: pink;
  -webkit-transition: width .2s, background-color .3s .2s;
  transition: width .2s, background-color .3s .2s;
}

#menu p.active:before, #menu p:hover:before {
  width: 100%;
  background: #fff;
}

#contents div {
  display: none;
}

#contents div.active {
  display: block;
}

.product_detail {
  color: #5f3f45;
  padding-bottom: 10px;
  margin: 20px 0;
}

.product_detail li {
  font-weight: 900;
  line-height: 2;
}

.product_detail li span:first-child {
  margin-right: 20px;
  width: 120px;
  display: inline-block;
  position: relative;
}

.product_detail li span:first-child::before {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  background-color: #bbabab;
  position: absolute;
  right: 0;
  top: 12px;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}

/* left to right */
@-webkit-keyframes mqn-picker-image-intro {
  0% {
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  1% {
    /* opacity: 1; */
    opacity: 0;
    -webkit-transform: translateX(10%) scale(1.1);
            transform: translateX(10%) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}
@keyframes mqn-picker-image-intro {
  0% {
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  1% {
    /* opacity: 1; */
    opacity: 0;
    -webkit-transform: translateX(10%) scale(1.1);
            transform: translateX(10%) scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

.myForm {
  width: 100%;
  margin-bottom: 20px;
}

.myForm > p {
  text-align: center;
  padding: 20px;
  background-color: #f3f6f9;
  letter-spacing: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #dedada;
}

.tb_shopcart {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 992px) {
  .tb_shopcart thead {
    display: none;
  }
}

.tb_shopcart thead th {
  padding: 10px 0;
  border-bottom: 1px solid #d4cbca;
}

.tb_shopcart tbody tr {
  border-bottom: 1px solid #dedbdb;
  padding: 20px 0;
}

.tb_shopcart tbody tr #fname0 {
  height: auto;
  width: 80px;
  padding: 20px 0;
}

.tb_shopcart tbody tr #fname0 img {
  width: 80px;
  height: 80px;
}

.tb_shopcart tbody tr #fname0 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tb_shopcart tbody tr #fname1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tb_shopcart tbody tr #fname2 {
  min-width: 50px;
}

.tb_shopcart tbody tr #fname3 {
  padding: 10px 0;
  margin-right: 10px;
  min-width: 100px;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .tb_shopcart tbody tr #fname3 {
    text-align: right;
    width: 130px;
  }
}

@media (max-width: 767px) {
  .tb_shopcart tbody tr #fname4 {
    position: absolute;
    top: 10px;
    right: 2px;
  }
}

.tb_shopcart tbody td {
  color: #555;
  text-align: center;
}

.tb_shopcart tbody td p {
  text-align: left;
  font-weight: 900;
  margin-left: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
}

@media (max-width: 992px) {
  .tb_shopcart tbody td p {
    color: #555;
    text-align: left;
    white-space: break-spaces;
  }
}

.tb_shopcart tbody td p:nth-child(2) {
  font-size: 0.8rem;
}

@media screen and (max-width: 992px) {
  .tb_shopcart:not(.myTable) tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.bill-item {
  padding: 10px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eae5e573;
}
/*# sourceMappingURL=all.css.map */