/* Part1 section 1- bgimgx */
.wrapper {
  height: 100vh;
  min-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  box-shadow: 0px 6px 24px rgba(166, 161, 161, 0.6);
  overflow: hidden;
  position: relative;
	// background-color: $stroke-color;
	background-color: #dfcece;
	.logo_bg {
		width: 100%;
		height: 100%;
		height: calc(var(--vh, 1vh) * 100);
		position: absolute;
		z-index: -1;
    clip-path: circle(10% at 50% 50%);
		&>img{
			height: 100%;
			width:100%;
			filter: contrast(0.8) opacity(0.9);
			transform: scale(2);
			// opacity: 0	;
			// clip-path: circle(0%);
			@include pad{
          width:unset;
			}
		}
	}
}

// <!-- hand writing clip path-->
.sign_block{
	display: flex;
	align-items: center;
	justify-content: center;
	position:absolute; 
	width:100%;
	height: 100%; 
	// z-index: 1;
	/* svg signature*/
		.sign_svg {
			margin: auto;
			height: 100%;
			width: 500px;
			padding-top: 80px;      
			// filter: drop-shadow(6px 6px #ffffffd0);
			filter: drop-shadow(6px 6px #fff);
			@include phone{
						position: unset;
						width:80vw;	
			}
	}
	/* letters paths clip animation */
	// #squiggle {
		.rehome {
			stroke-dasharray: 1280;
			// t1.to
			stroke-dashoffset: 1280;
			// stroke-dashoffset: 0;
			fill:none;
			// stroke:#fecece;
			stroke:#fecde8;
			//t1.to
			// stroke:#f5b5b5fa;
			stroke-miterlimit:10;
			stroke-width:12pt;
	}
}

// 	<!-- bg path animation -->
.svg_bg{
		height: 100%;
		width:100%;
		@include pad{
				width:unset;
		}
    path{
			stroke-dasharray: 13000;
			stroke-dashoffset:13000;
			fill: none;
			stroke-width: 5pt;
			// stroke:#ffe6e6;
			stroke:#fff;
		}
}

#replay {
	position: absolute;
	bottom: 7%;
	left: 14%;
	transform: translate(0px,-20px);
	z-index: 1;
	font-size: 50px;
	color:#fff;
	cursor: pointer;
	&:hover {
		color: #f2c9c9;
	}
}


