.explore-button {
    @include button-basis1(#cbbcbc);
}


.btn_type {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    background-color: #eeb6b6;
    color: #fff;
    margin: 20px auto;
    width: 30vw;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 5px -5px #fff;
    transition: color 0.6s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    &:hover{
        box-shadow: 0 15px 20px -10px #fff;
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        color: #fff;
    }
}

.btn-100 {
    width: 100%;
}



//checkout button
#btn_Clearall {
    margin: 0;
    color: #9a9797;
    background: #fff;
    text-align: center;
    font-size: 1rem;
    display: block;
    padding: 10px;
    cursor: pointer;
}

#car_total {
    color: #f06079;
    font-weight: bold;
    font-size: 1.2rem;
}

// .btn_type {
//     background-color: #eeb6b6;
//     color: #fff;
//     cursor: pointer;
//     border-radius: 4px;
//     text-align: center;
//     font-size: 1rem;
//     display: block;
//     padding: 10px;
//     margin: 20px auto;
//     width: 30vw;
//     cursor: pointer;
// }
#btn_checkout {
    margin-right: 0;
    width: 30vw;
}


.btn_remove {
    background-color: #f8aaaa;
    padding: 10px;
    color: #fff;
    font-size: 0.7rem;
}

// tag
.typebutton {
    display: inline-block;
    border-radius: 19px;
    padding: 10px;
    background-color: #ea9999;
    color: white;
    cursor: pointer;
    font-size: .9rem;
    &:hover,&.active{
        background-color: #d3b5b5;
    }
}


 
.myclass {
    border: 1px solid #B9B9B9;
    color: #797979;
    min-height: 38px;
    min-width: 255px;
    border-radius: 5px;
    text-indent: 10px;
    margin-bottom: 30px;
}
//breadcrumb
// ul.breadcrumb a, ul.breadcrumb > * {
//     color: inherit;
// }


.breadcrumb {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: grey;
    a {
        &:hover{
            color:#fff;
        }
        &:not(:first-child)::before {
            content: '/';
            padding: 0 5px;
        }    
    }
}