// // open menu
.overlay-test {
    position: fixed;
    top: 0;
    right: 0px;
    background-image: linear-gradient(to right, #ffffff, #ffd9ce);
    // clip-path: circle(0px at top right);
    display:none;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;  
    transition: all 0.4s cubic-bezier(0.4, 0.39, 0.37, 1.11);
    &.open {
      display: flex;
      // clip-path: circle(200% at top right);
    }
    ul { 
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      margin: 100px;
      @include phone{
        margin: 20px;
      }

    }
    li{
      margin: 15px 0;
      width: 33.333%;
      padding-left: 2%;
      margin-bottom: 15px; 
      display: flex;
      align-items: center;
      a{
        width: 100%;
        font-size: 1rem;
        display: block;
        padding: 15px 15px 12px;
        cursor: pointer;
        position: relative;
        color: var(--color-p);
        transition: all 0.5s;
        &::after{
          content: "";
          width: 100%;
          height: 1px;
          background-color: rgb(88, 32, 32);
          position: absolute;
          bottom: 0;
          left: 0;
        }  
        &:hover{
          background: #fff;
        }  
        small{
          font-size: 1rem;
          margin-top: 6px;
          display: block;
        }
      }
      //  @include mobile{
      @include phone{
        width: 50%;
        align-items: center; 

      }
    }
}

// animation: floatLayerFrame 19000ms ease 3000ms infinite forwards;
@keyframes floatLayerFrame {
  0% {
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(-10px, -20px, 0);
    }
  50% {
    transform: translate3d(20px, -25px, 0);
    }
  75% {
    transform: translate3d(5px, 0, 0);
    }
  100% {
    transform: translate3d(0, 0, 0);
    } }